<?xml version="1.0"?>
<launch>
    <!--Launch Realsense-->
    <include file="$(find realsense2_camera)/launch/realsense2.launch"/>
    <!--Down sampling-->
    <node pkg="calibration" type="downsample" name="downsample_realsense2">
        <param name="ds_size" type="double" value="0.05" />
        <remap from="/cloud" to="/camera2/depth/color/points" />
        <remap from="/output" to="/camera2/ds_cloud" />
    </node>
</launch>
